/*CAMBIAR A GUMBROAD */
:root{
  --font_raleway:'Raleway', sans-serif;
  --timing: 0.3s;
  --width-of-input: 50vw;
  --height-of-input: 50px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2A7AE4;
  --border-radius: 1rem;
  --after-border-radius: 1px;
  --fondo:#F5F5F5;
  --borde_pagina:0.5rem 9vw;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font_raleway);
    font-size: 16px;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  
  .main{
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .modo-oscuro {
    background-color: #121212;
    color: #ffffff;
}
/*---------------------------------------------------------------------------------------------------------------*/
.theme-checkbox {
  --toggle-size: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

/*---------------------------------------------------------------------------------------------------------------*/
.modo-oscuro #divProducto {
    border-color: #fff;
   
    color: #ffffff;
}