.Productos{
  margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

}

.Productos__box{
    width: 300px;
    height: 500px;
    min-width: 250px;
    max-width: 300px;
    border:1px solid black;
}
.Productos__box--Container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content:space-between ;
}
.Productos__box--subcontenedorImg{
    width: auto; /* Ancho deseado del div */
    height: 300px; /* Alto deseado del div */
    border-bottom: 1px solid;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
  }
.Productos__box--Container--Img{
    width: auto; /* La imagen ocupará el 100% del ancho del div */
    height: 100%; /* La altura se ajustará proporcionalmente al ancho para mantener la relación de aspecto */


}
.Productos__box--subcontenedorProduct{
    padding: 1rem;
    height: calc(120px - 16px);
    max-height: 120px;

  }
.Productos__title{
    font-size: 20px;
    overflow: hidden;
    height: 45px;
    max-height: 45px;
}
.Productos__price{
    font-size: 18px;
    padding-top: 20px;
    color: #007bff;
}
.Producto--boton {
    background:white;
    width: auto;
    height: 30px;
    font-weight: 700;
    font-size: 18px;
    border:none;
    border-top: 1px solid;
    cursor: pointer;
  }
  
  .Producto--boton:hover {
    background:aqua;
  }
  .container div:nth-child(n+8) {
    display: none ;
  }