<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="../css/header/header.css">
    <link rel="stylesheet" href="../css/banner/banner.css">
    <link rel="stylesheet" href="../css/secciones/secciones.css">
    <link rel="stylesheet" href="../css/productos/productos.css">
    <link rel="stylesheet" href="../css/formulario/formulario.css">
    <link rel="stylesheet" href="../css/footer/footer.css">
</head>
<body>
    <header class="cabecera" id="divProducto">
        <div class="Cabecera__container">
            <a href="../views/index.html"><img src="../material/images/Logo.png" alt="Logo" class="logo"></a>
              <form class="form_buscador">
                    <button>
                        <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                            <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                    <input class="input" placeholder="Que estas buscando?" required="" type="text">
                    <button class="reset" type="reset">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                        </svg>
                    </button>
                </form>
                
                <input type="checkbox" class="theme-checkbox" id="toggleDarkMode">
        </div>
        <button class="login__Buttom" onclick="window.location.href = '../views/Login.html'" id="divProducto">
            Login
        </button>
          
    </header>
    <main class="main">
        <section class="Banner__Pincipal">
            <div class="Banner__Pincipal--imagen">
                <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2021/06/call-duty-warzone-season-4-2371145.jpg?tf=3840x" alt="Portada Principal" class="Banner__Pincipal--portada">
            </div>
            <div class="Banner__Pincipal--bloque">
                <div class="Banner__Pincipal--contenido">
                    <h1 class="Banner__Pincipal--titulo">Febrero Promocional</h1>
                    <h2 class="Banner__Pincipal--descripcion">Productos seleccionados con 33% de descuento</h2>
                    <button class="Banner__Pincipal--boton " type="button">Ver consolas</button>
                </div>
            </div>
        </section>
        <section class="Seccion__Starwars seccion" id="starwars">
            <div class="seccion_cabecera">
                <p class="seccion__cabecera--Titulo"> Starwars</p>
                <button class="seccion_cabecera--Boton" onclick="window.location.href = '../views/productos.html'">
                    Ver Todo
                </button>
            </div>
            
            <div class="Productos container" data-StarWars>
                        
            </div>
        </section>
        <section class="Seccion__Consolas seccion" id="consolas">
            <div class="seccion_cabecera">
                <p class="seccion__cabecera--Titulo"> Consolas</p>
                <button class="seccion_cabecera--Boton" onclick="window.location.href = '../views/productos.html'">
                    Ver Todo
                </button>
            </div>
            
            <div class="Productos container" data-Consola>

            </div>
        </section>
        <section class="Seccion__Diversos seccion" id="diversos">
            <div class="seccion_cabecera">
                <p class="seccion__cabecera--Titulo">Diversos</p>
                <button class="seccion_cabecera--Boton" onclick="window.location.href = '.../views/productos.html'">
                    Ver Todo
                </button>
            </div>
            
            <div class="Productos container"data-Diversos>

            </div>
        </section>
        <section class="Seccion__Formulario">
            <div class="Seccion__Formulario--container">
            <img src="../material/images/Logo.png" alt="Logo" class="logo">
            <ul class="info__container">
                <li><a href="#" class="info__container--element">Quienes somos</a></li>
                <li><a href="#" class="info__container--element">Politica de privacidad</a></li>
                <li><a href="#" class="info__container--element">Nuestras tiendas</a></li>
                <li><a href="#" class="info__container--element">Quiero ser Franquiciado</a></li>
                <li><a href="#" class="info__container--element">Anuncie aqui</a></li>
            </ul>
            </div>
            <div class="card">
                <span class="title">Escribenos</span>
                <form class="card_form">
                  <div class="group">
                  <input placeholder="Nombres" type="text" required="">
              
                  </div>
              <div class="group">
                  <input placeholder="Correo" type="email" id="email" name="email" required="">
              
                  </div>
              <div class="group">
                  <textarea placeholder="Escribe Aqui" id="comment" name="comment" rows="5" required=""></textarea>
              
              </div>
                  <button type="submit" class="Contact__Buttom">Enviar</button>
                </form>
              </div>
              
        </section>
 
    </main>
    <footer class="footer seccion">
        <span class="footer__info">Desarrollado por Awekendo</span>
    </footer>
</body>
<script type="module" src="../controllers/categoria.controller.js"></script>
<script src="../modo_oscuro.js"></script>
</html>