<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header/header.css">
    <link rel="stylesheet" href="css/formulario/formulario.css">
</head>
<body>
    <header class="cabecera">
        <div class="Cabecera__container">
            <a href="index.html"><img src="material/images/Logo.png" alt="Logo" class="logo"></a>
        </div>
    </header>
    <main>
        <section class="informacion_container">
            <div></div>
        </section>
    </main>
</body>
</html>