.cabecera{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #121212;
}
.Cabecera__container{
    padding: 0 5vw;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    width: 70%;
}
.logo{
  height: 3vw;
  width: auto;
  min-height: 50px;
  max-height: 150px;
}
/*-------BUSCADOR----------------------------------------------------------------*/

.form_buscador button {
    border: none;
    background: none;
    color: #000000;
  }
  /* styling of whole input container */
  .form_buscador {
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    background: var(--fondo);
    border: 2px solid #000;
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* Hover on Input */
  .form_buscador:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }

  /* here is code of animated border */
  .form_buscador:focus-within:before {
    transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form_buscador svg {
    width: 17px;
    margin-top: 3px;
  }
  
  .login__Buttom{
    background: var(--input-bg);
    display: flex;
    height: 70px;
    width: 15%;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    border:none;
    border-left: 2px solid #121212;
    font-weight: 700;
  }
  .login__Buttom:hover{
    background-color: aqua;
  }