.Banner__Pincipal{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 2px solid #121212;
}
.Banner__Pincipal--imagen{
    background-color: blue;
    width: 50vw;
    height: 30rem;

}
.Banner__Pincipal--portada{
    width: 100%;
    height: 30rem;
}
.Banner__Pincipal--contenido{
    display: flex;
    gap: 2rem;
    flex-direction:column ;
    margin: 0 10rem;
}
.Banner__Pincipal--bloque{
    background-color: aqua;
    width: 50vw;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #121212;
}
.Banner__Pincipal--titulo{
    
    font-weight: 700;
    font-size: 5rem;
}
.Banner__Pincipal--descripcion{

    font-weight: 300;
    font-size: 2rem;

}

.Banner__Pincipal--boton {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;

    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  .Banner__Pincipal--boton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .Banner__Pincipal--boton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }