.Banner__Pincipal{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 2px solid #121212;
}
.Banner__Pincipal--imagen{
    background-color: blue;
    width: 50%;
    height: 30rem;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
    box-sizing: border-box;

}
.Banner__Pincipal--portada{
    width: auto;
    height: 100%;
}
.Banner__Pincipal--contenido{
    display: flex;
    gap: 2rem;
    flex-direction:column ;
    margin: 0 10rem;
}
.Banner__Pincipal--bloque{
    background-color: aqua;
    width: 50%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
}
.Banner__Pincipal--titulo{
    
    font-weight: 700;
    font-size: 5rem;
}
.Banner__Pincipal--descripcion{

    font-weight: 300;
    font-size: 2rem;

}

.Banner__Pincipal--boton {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;

    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  .Banner__Pincipal--boton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  .Banner__Pincipal--boton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

  @media (max-width:1000px) {
    .Banner__Pincipal--imagen{
        width: 100%;
    }
    .Banner__Pincipal{
        flex-direction: column-reverse;
    }
    .Banner__Pincipal--bloque{
        width: 100%;
    }
  }
  .Banner__Pincipal--contenido{
    margin:0 5rem
}

  @media (max-width:700px) {
    .Banner__Pincipal--contenido h1{
        font-size: 3rem;
    }
    .Banner__Pincipal--contenido h2{
        font-size: 1.5rem;
    }
    .Banner__Pincipal--contenido{
        margin:0 1rem
    }
  }